{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet"/>
    <title>登录</title>
  </head>
  <body>
    <div class="container">
            <div class="col">
                <form class="form-login" action="/login/" method="post">

                {% if login_form.captcha.errors %}
                    <div class="alert alert-warning">{{ login_form.captcha.errors }}</div>
                {% elif message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

                  {% csrf_token %}
                  <h3 class="text-center" style="color: white">欢迎登录</h3>

                  <div class="form-group" style="color: white">
                    {{ login_form.username.label_tag }}
                    {{ login_form.username}}
                  </div>

                  <div class="form-group" style="color: white">
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
                  </div>

                  <div class="form-group" style="color: white">
                    {{ login_form.captcha.label_tag }}
                    {{ login_form.captcha }}
                  </div>

                  <div>
                      <a href="/register/" class="text-success " style="color: white" ><ins>新用户注册</ins></a>
                      <button type="submit" class="btn btn-primary float-right" style="color: white">登录</button>
                  </div>
                </form>
            </div>
    </div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>
{% comment %}
01
form标签主要确定目的地url和发送方法；
p标签将各个输入框分行；
label标签为每个输入框提供一个前导提示，还有助于触屏使用；
placeholder属性为输入框提供占位符；
autofocus属性为用户名输入框自动聚焦
required表示该输入框必须填写
passowrd类型的input标签不会显示明文密码
vid -- 独立分割区

02
Django的模板语言{% if xxx %}{% endif %}非常类似Python的if语句，
也可以添加{% else %}分句。例子中，通过判断message变量是否为空，
也就是是否有错误提示信息，如果有，就显示出来！这里使用了Bootstrap的警示信息类alert，
你也可以自定义CSS或者JS。

03
你没有看错！一个{{ login_form }}就直接完成了表单内容的生成工作！login_form这个名称来自你在视图函数中生成的form实例的变量名！
但是，它不会生成<form>...</form>标签，这个要自己写；
使用POST的方法时，必须添加{% csrf_token %}标签，用于处理csrf安全机制；
Django自动为每个input元素设置了一个id名称，对应label的for参数
注册链接和登录按钮需要自己写，Django不会帮你生成！

04
这里在顶部的消息处，在{% if %}模板代码中，额外增加了一条
{{ login_form.captcha.errors }}的判断，用于明确指示用户的验证码不正确。
{% endcomment %}